@import  './../utilities/config';

.signup-page {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: $light-grey;
  top: 100px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  &__form {
    padding-bottom: 20px;
  }

  &__title {
    background: $blue;
    color: white;
    padding: 20px;
    text-align: center;
  }

  &__general-error {
    display: block;
    color: red;
    font-size: 0.8rem;
    text-align: center;
  }

  &__submit-button {
    display: block;
    background: $green;
    color: white;
    width: 66%;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
    border: 1px $green;
    cursor: pointer;
    &:active {
      background: white;
      border: 1px white;
      color: $green;
      outline: none;
    }
    &:focus {
      border: 1px white;
      outline: none;
    }
    &:disabled {
      background: grey;
    }
  }
}
